body {
  background-color: #f7e6f5;
  opacity: 0.8;
  background-image: radial-gradient(#ecb5ec 1.05px, transparent 1.05px),
    radial-gradient(#ecb5ec 1.05px, #f7e6f5 1.05px);
  background-size: 42px 42px;
  background-position: 0 0, 21px 21px;
}

header {
  border-bottom: 1px solid #f7e6f5;
  padding: 20px 0;
}

.weather-app {
  font-family: "Roboto Condensed", serif;
  background-color: white;
  max-width: 600px;
  padding: 30px;
  margin: 80px auto;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}

.search-form-input {
  width: 80%;
  border: none;
  background-color: #f7e6f5;
  opacity: 0.8;
  background-image: radial-gradient(#ecb5ec 1.05px, transparent 1.05px),
    radial-gradient(#ecb5ec 1.05px, #f7e6f5 1.05px);
  background-size: 42px 42px;
  background-position: 0 0, 21px 21px;
  padding: 15px 20px;
  border-radius: 6px;
  font-size: 16px;
}

.search-form-button {
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: rgb(245, 118, 185);
  width: 16%;
  margin-left: 10px;
}

footer {
  border-top: 1px solid #f7e6f5;
  padding: 20px 0;
}
