body {
  background-color: #f7e6f5;
  opacity: 0.8;
  background-image: radial-gradient(#ecb5ec 1.05px, transparent 1.05px),
    radial-gradient(#ecb5ec 1.05px, #f7e6f5 1.05px);
  background-size: 42px 42px;
  background-position: 0 0, 21px 21px;
}

.weather-app {
  background-color: white;
  display: block;
  justify-content: center;
  padding: 20px;
  margin: 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
